<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - فروشگاه آنلاین هیرکان خورشیدی</title>
    <meta name="description" content="شرکت فنی مهندسی انرژی سبز کاسپین هیرکان">
    <meta name="enamad" content="194908" />

    @*Me *@
    <link rel="stylesheet" href="~/style/InvoiceProduct.css" />
    <link href="~/style/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/style/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/style/owl.theme.default.css" rel="stylesheet" type="text/css">
    <link href="~/css/panelAdmin.css" rel="stylesheet" type="text/css">
    <link href="~/style/bootstrap.css" rel="stylesheet" />
    @* ::::::::: *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/style/style.css" asp-append-version="true" />

    <script src="~/lib/ckeditor/ckeditor.js"></script>
</head>
<body>





    <header>

        @RenderSection("seachSection", required: false)

        @RenderSection("menuSection", required: false)
        




    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

            @RenderSection("contactUs", required: false)
        </main>
    </div>

    @RenderSection("footer", required: false)


    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - پشتیبانی و توسعه پرشین مهر
        </div>
    </footer>*@
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/owl.carousel.min.js" type="text/javascript"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/InvoiceProduct.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
