@model IEnumerable<Entities.Product>

@if (Model != null && Model.Count()>0)
{

    <div class="container div-cast">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-box">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                if (i == 0)
                                {
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                                }

                            }

                        </ol>

                        <div class="carousel-inner">
                            @for (int i = 0; i < Model.Count(); i++)
                            {

                                if (i == 0)
                                {
                                    <div class="carousel-item active">
                                        <div class="col-md-6" style="padding-top: 20px;">
                                            <h4>@Model.ToList()[i].Name</h4>
                                            @*<span>پرتابل خورشیدی</span>*@
                                            <p>@Model.ToList()[i].Description</p>
                                            <a asp-route-id="@Model.ToList()[i].Id" asp-action="ShowDetails" asp-controller="Product" asp-area=""
                                               class="btn-dark btn-sm">لینک محصول پر بازدید</a>
                                        </div>
                                        <div class="col-md-6">
                                            <img src="~/img/Product/normalimage/@Model.ToList()[i].ImageName" class="w-75">
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <div class="col-md-6" style="padding-top: 20px;">
                                            <h4>@Model.ToList()[i].Name</h4>
                                            <p>@Model.ToList()[i].Description</p>
                                            <a asp-route-id="@Model.ToList()[i].Id" asp-action="ShowDetails" asp-controller="Product" asp-area=""
                                               class="btn-dark btn-sm">لینک محصول پر بازدید</a>
                                        </div>
                                        <div class="col-md-6">
                                            <img src="~/img/Product/normalimage/@Model.ToList()[i].ImageName" class="w-75">
                                        </div>
                                    </div>

                                }
                            }
                        </div>

                    </div>
                </div>
                <!--slider-box-->
            </div>
        </div>
    </div>

}