@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers


@{
    ViewData["Title"] = "پنل کاربری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Ui.Areas.admin.Models.UserRoleViewModel>







<div class="row">
    <partial name="_adminpanel" />

    <div class="col-md-9 div-cart">
        <div class="div-cart-header">

            <div class="fs-2 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                </svg>
                مشاهده لیست کاربران
            </div>
        </div>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoleName)
                    </th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleName)
                            </td>
                            <td>
                                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@
                                @*| <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                                @if (item.RoleName != "admin")
                                {
                                    <form asp-action="DeleteUser" asp-controller="Account" asp-area="admin" method="post">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <input type="submit" class="btn btn-danger btn-sm" value="حذف" />
                                    </form>
                                }
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>