@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model Ui.Areas.admin.Models.ProductViewModel

@{
    ViewData["Title"] = "افزودن تصاویر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-bottom:96px;">
    <partial name="_adminpanel" />

    <div class="col-md-9 div-cart">
        <div class="div-cart-header">
            <h5>
                آرشیو تصاویر
            </h5>
        </div>

        <div class="row shadow-sm" style="margin-bottom:12px;">
            <div class="col-md-2">
                <img src="~/img/Product/normalimage/@Model.product.ImageName"
                     class="img-fluid rounded"
                     alt="@Model.product.ImageName تصویر" />
            </div>

            <div class="col-md-10 mt-4">
                <div>
                    <h5><a asp-area="" asp-controller="Product" asp-action="ShowDetails" asp-route-id="@Model.product.Id">@Model.product.Name</a> <abbr title="@Model.product.Description" class="initialism">@Model.product.Price</abbr></h5>
                </div>
                <div>
                    <p>

                        @Model.product.Description
                    </p>
                </div>
            </div>

        </div>


        <div>
            <table class="table">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.archive.ImageName)
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.ValueFeature)*@
                        </th>
                        <th>*</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Archives.Count == 0)
                    {


                        <tr>
                            <td>
                                تصویر جدید اضافه کنید
                            </td>
                        </tr>


                    }
                    else
                    {
                        @foreach (var item in Model.Archives)
                        {
                            <tr>
                                <td>
                                    <img src="~/img/Product/thumbnailimage/@item.ImageName"
                                         class="img-fluid rounded"
                                         alt="@Model.product.ImageName تصویر" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateTimeCreated)
                                </td>
                                <td>

                                    @*<a asp-action="Edit" asp-route-id="@item.IdFeatures">ویرایش</a> |*@
                                    @*<a asp-action="Details" asp-route-id="@item.IdFeatures">مشاهده</a> |*@
                                    @*<a asp-action="DeleteFeature" asp-controller="Product" asp-route-id="@item.IdFeatures">حذف</a>*@
                                    <form asp-action="DeleteArchive" asp-controller="Product" asp-area="admin" asp-route-id="@item.Id">
                                        <input type="hidden" asp-for="@item.Id" />
                                        <input type="hidden" name="productId" value="@Model.product.Id" />
                                        <input type="submit" value="حذف" class="btn btn-danger btn-sm" />
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div>

            <form asp-action="CreateArchive" asp-controller="Product" asp-area="admin" enctype="multipart/form-data">


                <div class="row">

                    <div class="form-group col-md-6">
                        <label asp-for="@Model.archive.ImageFile" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="@Model.archive.ImageFile" class="custom-file-input" id="customFile"
                                   id="file-ip-2" accept="image/*" onchange="showPreview(event);">
                            <label class="custom-file-label" for="customFile" style="text-align:left;">انتخاب تصویر</label>
                        </div>
                        <span asp-validation-for="@Model.archive.ImageFile" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="preview">
                            <img class="img-fluid rounded shadow" src="~/img/Product-Guid-image.gif" id="file-ip-2-preview">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="hidden" asp-for="archive.ProductId" value="@Model.product.Id" class="form-control" />
                    <input type="submit" value="بارگذاری تصویر" class="btn btn-primary" />
                </div>

            </form>


        </div>
        @* -------------Feature------------- *@

        <div>
            @*<a asp-action="Edit" asp-route-id="@Model.IdProduct">بروزرسانی</a> |*@
            <a asp-action="Index">بازگشت به لیست</a>
        </div>

    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <script>
        // show preiview image before uploading
        function showPreview(event) {
            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[0]);
                var preview = document.getElementById("file-ip-2-preview");
                preview.src = src;
                preview.style.display = "block";
            }
            else {
                //
                preview.src = "~/img/Product-Guid-image.gif";
                preview.style.display = "block";
            }
        }
    </script>


}