@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model Ui.Areas.admin.Models.ProductViewModel;

@{
    ViewData["Title"] = "لیست محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <partial name="_adminpanel" />

    <div class="col-md-9 div-cart">
        <div class="div-cart-header">
            <div class="fs-2 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                </svg>
                لیست محصولات
            </div>
        </div>


        <div class="row">

            <div class="col-12">
                <a asp-action="Create" class="btn btn-sm btn-outline-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                    </svg>
                    کالای جدید
                </a>
            </div>

            <div class="col-12">
                <!-- list -->
                @{
                    <br />
                    if (Model != null)
                    {
                        foreach (var category in Model.Categories)
                        {
                            if (ViewBag.IdCategory == category.Id)
                            {
                                <span class="badge-dark">
                                    @category.Name
                                </span>

                                <span>-</span>
                            }
                            else
                            {
                                <a class="badge-primary" asp-action="index"
                   asp-controller="Product" asp-area="admin" asp-route-categoryId="@category.Id"> @category.Name </a>

                                <span>-</span>
                            }

                        }
                    }
                }
            </div>


        </div>




        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.product.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.product.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.product.ImageName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.product.Price)
                    </th>
                    <th>

                        @Html.DisplayNameFor(model => model.product.Stock)
                    </th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Products != null)
                {
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @*@Hktml.DisplayFor(modelItem => item.ImageName)*@
                                <img class="rounded-circle" height="40" width="40" src="~/img/Product/thumbnailimage/@item.ImageName" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>
                            <td>

                                <a asp-action="Details" asp-route-productId="@item.Id" class="btn btn-sm btn-outline-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                    </svg>
                                </a>

                                <a asp-action="Archive" asp-route-productId="@item.Id" class="btn btn-sm btn-outline-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
                                        <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                                        <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"></path>
                                    </svg>
                                </a>

                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                    </svg>
                                </a>


                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                    </svg>
                                </a>




                                @* <a asp-action="Edit" asp-route-id="@item.IdProduct">ویرایش</a> |
                        <a asp-action="Details" asp-route-id="@item.IdProduct">افزودن ویژگی</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdProduct">حذف</a>*@
                            </td>
                        </tr>
                    }
                }
                else
                {

                    <tr>
                        <td colspan="10"><p>محصولی جهت نمایش موجود نیست</p></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>